:root {
  --frame-bg-color: #c9c9c9;
  --page-bg-color: #ffffff;

  --primary-color: ;
  --primary-hover-color: ;

  --primary-text-color: ;
  --primary-hover-text-color: ;

  --primary-border-color: ;
  --primary-hover-border-color: ;

  --secondary-color: ;
  --secondary-hover-color: ;

  --secondary-text-color: ;
  --secondary-hover-text-color: ;

  --secondary-border-color: ;
  --secondary-hover-border-color: ;
}

[data-theme='dark'] {
  --frame-bg-color: #1b1b1b;
  --page-bg-color: #000000;

  --primary-color: ;
  --primary-hover-color: ;

  --primary-text-color: ;
  --primary-hover-text-color: ;

  --primary-border-color: ;
  --primary-hover-border-color: ;

  --secondary-color: ;
  --secondary-hover-color: ;

  --secondary-text-color: ;
  --secondary-hover-text-color: ;

  --secondary-border-color: ;
  --secondary-hover-border-color: ;
}
