:root {
  --frame-bg-color: #FFFFFF;
  --page-bg-color: #EDEDED;

  --primary-color: ;
  --primary-hover-color: ;

  --primary-text-color: #1A1A1A;
  --primary-hover-text-color: ;

  --primary-border-color: ;
  --primary-hover-border-color: ;

  --secondary-color: ;
  --secondary-hover-color: ;

  --secondary-text-color: #1E1E1E;
  --secondary-hover-text-color: #000000;

  --secondary-border-color: ;
  --secondary-hover-border-color: ;

  --header-height: 56px;
  --footer-height: 90px;
}

[data-theme='dark'] {
  --frame-bg-color: #1b1b1b;
  --page-bg-color: #000000;

  --primary-color: ;
  --primary-hover-color: ;

  --primary-text-color: ;
  --primary-hover-text-color: ;

  --primary-border-color: ;
  --primary-hover-border-color: ;

  --secondary-color: ;
  --secondary-hover-color: ;

  --secondary-text-color: ;
  --secondary-hover-text-color: ;

  --secondary-border-color: ;
  --secondary-hover-border-color: ;
}
