@font-face {
  font-family: "AvenirNextCyr-Medium";
  src: url("/assets/fonts/avenirnextcyr-medium/avenirnextcyr-medium.eot");
  src: url("/assets/fonts/avenirnextcyr-medium/avenirnextcyr-medium.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/avenirnextcyr-medium/avenirnextcyr-medium.woff2")
      format("woff2"),
    url("/assets/fonts/avenirnextcyr-medium/avenirnextcyr-medium.woff")
      format("woff"),
    url("/assets/fonts/avenirnextcyr-medium/avenirnextcyr-medium.ttf")
      format("truetype"),
    url("/assets/fonts/avenirnextcyr-medium/avenirnextcyr-medium.svg#avenirnextcyr-medium")
      format("svg");
}

@font-face {
  font-family: "AvenirNextCyr-Light";
  src: url("/assets/fonts/avenirnextcyr-light/avenirnextcyr-light.eot");
  src: url("/assets/fonts/avenirnextcyr-light/avenirnextcyr-light.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/avenirnextcyr-light/avenirnextcyr-light.woff2")
      format("woff2"),
    url("/assets/fonts/avenirnextcyr-light/avenirnextcyr-light.woff")
      format("woff"),
    url("/assets/fonts/avenirnextcyr-light/avenirnextcyr-light.ttf")
      format("truetype"),
    url("/assets/fonts/avenirnextcyr-light/avenirnextcyr-light.svg#avenirnextcyr-light")
      format("svg");
}

@font-face {
  font-family: "RedHatDisplay-Regular";
  src: url("/assets/fonts/redhatdisplay-regular/redhatdisplay-regular.eot");
  src: url("/assets/fonts/redhatdisplay-regular/redhatdisplay-regular.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/redhatdisplay-regular/redhatdisplay-regular.woff2")
      format("woff2"),
    url("/assets/fonts/redhatdisplay-regular/redhatdisplay-regular.woff")
      format("woff"),
    url("/assets/fonts/redhatdisplay-regular/redhatdisplay-regular.ttf")
      format("truetype");
}
